:root {
  --themeColor: #1585f9;
  --secondary: #64b1fd;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.message-info {
  background-color: var(--secondary);
  color: white;
  .el-message__content,
  .el-icon-info {
    color: white;
  }
}

.cp {
  cursor: pointer;
}